<div class="max-w-3xl mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8 mt-5">
<%= form_with url: "/activities", :html => { "data-turbo": false } do |form| %>
  <h1 class="sr-only">Activities</h1>
  <!-- Main 3 column grid -->
  <div class="grid grid-cols-1 gap-4 items-start lg:grid-cols-3 lg:gap-8">
    <!-- Left column -->
    <div class="grid grid-cols-1 gap-4">
      <section aria-labelledby="section-1-title" class="hidden sm:block">
        <h2 class="sr-only" id="section-1-title">Profile</h2>
        <div class="rounded-lg bg-white overflow-hidden shadow">
          <div class="p-6">
            <div class="flex justify-center max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 ">
                <!-- <%= link_to "Sign out", destroy_user_session_path, class: "inline-block" %> -->
                <%= image_tag(current_user.image, class: "inline-block h-28 w-28 rounded-md") unless current_user.image.nil? %>
            </div>
          </div>
        </div>
      </section>
      <section aria-labelledby="section-1-title">
        <h2 class="sr-only" id="section-1-title">Button Controls</h2>
        <div class="rounded-lg bg-white overflow-hidden shadow">
            <div class="p-6">
                <div class="flex justify-center max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 ">
                    <div class="relative">
                        <%= form.submit "Lookup", class: "btn-primary" %>
                    </div>
                </div>
            </div>
        </div>
      </section>
      <section aria-labelledby="section-1-title">
        <h2 class="sr-only" id="section-1-title">Date Controls</h2>
        <div class="rounded-lg bg-white overflow-hidden shadow">
          <div class="p-6">
            <div class="flex justify-center max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 ">
                <div class="flex justify-center max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                    <div class="block mx-2">
                        <h3>From date</h3>
                        <input type="date" min=<%= @mindate %> max=<%= @maxdate %> name="dates[from]" />
                    </div>
                    <div class="block mx-2">
                        <h3>To date</h3>
                        <input type="date" min=<%= @mindate %> max=<%= @maxdate %> name="dates[to]" />
                    </div>
                </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- end Left col -->

    <!-- Right column -->
    <div class="grid grid-cols-1 gap-4 lg:col-span-2">
      <section aria-labelledby="section-2-title">
        <h2 class="sr-only" id="section-2-title">Your Weekly Mileage</h2>
        <div class="rounded-lg bg-white shadow h-90">
          <div class="p-6">
            <div class="justify-center max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 ">
              <%= column_chart @week_mileage, stacked:true, title: "Total Mileage Every 7 Days", xtitle: "Week of", ytitle: "Miles", label: "Miles for the period", round: 2, empty: "No data" , loading: "Loading...", download: true %>
            </div>
          </div>
        </div>
      </section>
      <section aria-labelledby="section-2-title">
      <h2 class="sr-only" id="section-2-title">Pace Distribution</h2>
      <div class="rounded-lg bg-white shadow h-90">
        <div class="p-6">
          <div class="justify-center max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 ">
            <%= pie_chart @week_pace_zones, donut:true, title: "Pace Distribution", download: true  %>
          </div>
        </div>
      </div>
    </section>
      <section aria-labelledby="section-2-title">
        <h2 class="sr-only" id="section-2-title">Listed Activities</h2>
        <div class="rounded-lg bg-white shadow">
          <div class="p-6">
            <div class="justify-center max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 ">
              <!-- Your content -->          
              <h2 class="text-xl leading-6 text-center font-medium text-gray-900">Listed Activities</h2>
              <div class="flow-root mt-6">
                <%= render 'activities' %>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <% end %>
</div>
<!-- <%= link_to "Signout" , destroy_user_session_path %> -->
